name: Team A lint

on:
  push:
    branches:
      - 'master'
    paths:
      - '2024/prototype/intake_mechanisms/**'

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install ClangFormat
        run: sudo apt-get install -y clang-format

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          clang_format: true
          clang_format_dir: 2024/prototype/intake_mechanisms
          continue_on_error: false

